{% extends '::baseAdmin.html.twig' %}
{% block body %}
{{parent()}}
{% endblock %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
    <h1>Area edit</h1>

    {{ form(edit_form) }}
    <a class="btn btn-default btn-w-md" href="{{ path('area') }}">
        Regresar
    </a>
    {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-w-md btn-accent', 'type': 'button'} }) }}
</div>
</div>
</section>
{% endblock %}
