{% extends '::baseAdmin.html.twig' %}
{% block body %}
{{parent()}}
{% endblock %}
{% block content %}

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<h1>Perfil creation</h1>

			{{ form(form) }}

			<ul class="record_actions">
				<li>
					<a href="{{ path('perfil') }}">
						Back to the list
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>
{% endblock %}
